@{
    ViewData["Title"] = "Home Page";
}
<div class="background-image"></div>
<div class="content-container">
    <div class="text-center">
        
        <form asp-controller="Equalize" asp-action="Equalize" method="get">
            <button class="btn btn-lg custom-darker-danger rounded-pill mt-4" type="submit">ابدأ المعادلة</button>
        </form>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>أردني مجسر</h3>
                </div>
                <div class="card-body">
                    <p><strong>الحالة الاولى: شامل (معدل 68%, 70% من داخل الاردن):</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">محتوى القائمة</li>
                        <!-- Adding the rest later -->
                    </ul>
                </div>
            </div>
        </div>

        

        <div class="col-md-3">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>أردني منتقل</h3>
                </div>
                <div class="card-body">
                    <p><strong>Case 1</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">محتوى القائمة</li>
                        <!-- Adding the rest later -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>أجنبي مجسر</h3>
                </div>
                <div class="card-body">
                    <p><strong>case 1</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">محتوى القائمة</li>
                        <!-- Adding the rest later -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>أجنبي منتقل</h3>
                </div>
                <div class="card-body">
                    <p><strong>Case 1</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">محتوى القائمة</li>
                        <!-- Adding the rest later -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>ألاسئلة الاكثر شيوعاً</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">question1</li>
                        <!-- Adding the rest later -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header custom-darker-danger">
                    <h3>حول</h3>
                </div>
                <div class="card-body">
                    <p>محتوى الحول</p>
                </div>
            </div>
        </div>
    </div>
</div>