@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Create";
}

<div class="background-image"></div>
<div class="row justify-content-center content-container Course-form-body">
    <h1 class="text-center custom-darker-danger">اضافة مادة</h1>
    <div>
        <div class="login-box p-4 rounded bg-light ">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-1" style="text-align: right">
                    <label for="institutionId" class="form-label"><strong>المنشأة السابقة</strong></label>
                    <select class="form-control" id="institutionId" onchange="fetchMajors(this.value)">
                    </select>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label for="major" class="form-label"><strong>التخصص</strong></label>
                    <select class="form-control" id="major" onchange="fetchCourses()">
                        <option value="">إختر التخصص</option>
                    </select>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseNameAR" class="form-label"><strong>اسم المادة بالعربية</strong></label>
                    <input type="text" name="courseNameAR" id="courseNameAR" class="form-control" />
                    <span asp-validation-for="courseNameAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseNameEN" class="form-label"><strong>اسم المادة بالإنجليزية</strong></label>
                    <input type="text" name="courseNameEN" id="courseNameEN" class="form-control" />
                    <span asp-validation-for="courseNameEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseDescriptionAR" class="form-label"><strong>وصف المادة بالعربية</strong></label>
                    <input type="text" name="courseDescriptionAR" id="courseDescriptionAR" class="form-control" />
                    <span asp-validation-for="courseDescriptionAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseDescriptionEN" class="form-label"><strong>وصف المادة بالإنجليزية</strong></label>
                    <input type="text" name="courseDescriptionEN" id="courseDescriptionEN" class="form-control" />
                    <span asp-validation-for="courseDescriptionEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseWeightAR" class="form-label"><strong>وزن المادة بالعربية</strong></label>
                    <input type="text" name="courseWeightAR" id="courseWeightAR" class="form-control" />
                    <span asp-validation-for="courseWeightAR" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="courseWeightEN" class="form-label"><strong>وزن المادة بالإنجليزية</strong></label>
                    <input type="text" name="courseWeightEN" id="courseWeightEN" class="form-control" />
                    <span asp-validation-for="courseWeightEN" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="institutionId" class="form-label d-none"><strong>معرف المؤسسة</strong></label>
                    <input type="hidden" name="institutionId" id="institutionId" class="form-control" />
                    <span asp-validation-for="institutionId" class="text-danger"></span>
                </div>

                <div class="form-group mb-1" style="text-align: right">
                    <label asp-for="majorId" class="form-label d-none"><strong>معرف التخصص</strong></label>
                    <input type="hidden" name="majorId" id="majorId" class="form-control" />
                    <span asp-validation-for="majorId" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" onclick="addData()" class="btn btn-lg custom-darker-danger rounded-pill mt-4">اضافة</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-lg custom-darker-danger rounded-pill">الرجوع للقائمة</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

  <script>

        function fetchMajors(id) {
            $.ajax({
                url: '/Equalize/getMajors/' + id,
                type: 'GET',
                success: function (data) {
                    $('#major').empty();
                    $.each(data, function (index, item) {
                        $('#major').append('<option value="' + 0 + '">' + 'اختر التخصص' + '</option>');

                        $('#major').append('<option value="' + item.majorID + '">' + item.majorNameAR + '</option>');
                    });
                    institutionId = id;
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        } 
    </script>


 <script>
    function addData() {
        formData.append('courseNameAr', $('#courseNameAR').val());
        formData.append('courseNameEN', $('#courseNameEN').val());
        formData.append('courseDescreptionAR', $('#courseDescriptionAR').val());
        formData.append('courseDescreptionEN', $('#courseDescriptionEN').val());
        formData.append('courseWeightAR', parseInt($('#courseWeightAR').val());
        formData.append('courseWeightEN', parseInt($('#courseWeightEN').val());
        formData.append('institutionId', parseInt($('#institutionId').val());
        formData.append('majorId', parseInt($('#majorId').val());

        fetch('@Url.Action("addCourse", "Courses")', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                console.log('Data added successfully:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

</script> 

    
