@model CourseEquivalencySite.Models.Course

@{
    ViewData["Title"] = "Create";
}
<body>
    <div class="background-image"></div>
    <div class="row justify-content-center content-container Course-form-body">
        <h1 class="text-center custom-darker-danger">اضافة مادة</h1>
        <div>
            <div class="login-box p-4 rounded bg-light ">
                <form method="post" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label for="institutionId" class="form-label"><strong>المنشأة السابقة</strong></label>
                        <select class="form-control" id="institutionId" onchange="fetchMajors(this.value)">
                        </select>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label for="major" class="form-label"><strong>التخصص</strong></label>
                        <select class="form-control" id="major" onchange="fetchCourses()">
                            <option value="">إختر التخصص</option>
                        </select>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseNameAR" class="form-label"><strong>اسم المادة بالعربية</strong></label>
                        <input type="text" name="courseNameAR" id="courseNameAR" class="form-control" />
                        <span asp-validation-for="courseNameAR" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseNameEN" class="form-label"><strong>اسم المادة بالإنجليزية</strong></label>
                        <input type="text" name="courseNameEN" id="courseNameEN" class="form-control" />
                        <span asp-validation-for="courseNameEN" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseDescriptionAR" class="form-label"><strong>وصف المادة بالعربية</strong></label>
                        <input type="text" name="courseDescriptionAR" id="courseDescriptionAR" class="form-control" />
                        <span asp-validation-for="courseDescriptionAR" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseDescriptionEN" class="form-label"><strong>وصف المادة بالإنجليزية</strong></label>
                        <input type="text" name="courseDescriptionEN" id="courseDescriptionEN" class="form-control" />
                        <span asp-validation-for="courseDescriptionEN" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseWeightAR" class="form-label"><strong>وزن المادة بالعربية</strong></label>
                        <input type="text" name="courseWeightAR" id="courseWeightAR" class="form-control" />
                        <span asp-validation-for="courseWeightAR" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1" style="text-align: right">
                        <label asp-for="courseWeightEN" class="form-label"><strong>وزن المادة بالإنجليزية</strong></label>
                        <input type="text" name="courseWeightEN" id="courseWeightEN" class="form-control" />
                        <span asp-validation-for="courseWeightEN" class="text-danger"></span>
                    </div>

                    <input type="hidden" name="institutionId" id="institutionId" class="form-control" />
                    <span asp-validation-for="institutionId" class="text-danger"></span>

                    <input type="hidden" name="majorId" id="majorId" class="form-control" />
                    <span asp-validation-for="majorId" class="text-danger"></span>

                    <div class="form-group text-center">
                        <button type="submit" onclick="addData()" class="btn btn-lg custom-darker-danger rounded-pill mt-4">اضافة</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <a asp-action="Index" class="btn btn-lg custom-darker-danger rounded-pill">الرجوع للقائمة</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getInstitution() {
            $.ajax({
                url: '/Equalize/getInstitutions/',
                type: 'GET',
                success: function (data) {
                    $('#institutionId').empty();
                    $('#institutionId').append('<option value="0">اختر المنشأة</option>');
                    $.each(data, function (index, item) {
                        $('#institutionId').append('<option value="' + item.institutionID + '">' + item.institutionNameAR + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function fetchMajors(id) {
            $.ajax({
                url: '/Equalize/getMajors/' + id,
                type: 'GET',
                success: function (data) {
                    $('#major').empty();
                    $('#major').append('<option value="">اختر التخصص</option>');
                    $.each(data, function (index, item) {
                        $('#major').append('<option value="' + item.majorID + '">' + item.majorNameAR + '</option>');
                    });
                    $('#hiddenInstitutionId').val(id);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function updateMajorId(majorId) {
            $('#hiddenMajorId').val(majorId);
        }

        function addData(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData();
            formData.append('courseNameAR', $('#courseNameAR').val());
            formData.append('courseNameEN', $('#courseNameEN').val());
            formData.append('courseDescriptionAR', $('#courseDescriptionAR').val());
            formData.append('courseDescriptionEN', $('#courseDescriptionEN').val());
            formData.append('courseWeightAR', parseInt($('#courseWeightAR').val()));
            formData.append('courseWeightEN', parseInt($('#courseWeightEN').val()));
            formData.append('institutionId', $('#hiddenInstitutionId').val());
            formData.append('majorId', $('#hiddenMajorId').val());

            fetch('@Url.Action("Create")', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    window.location.href = '@Url.Action("Index")'; 
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        $(document).ready(function () {
            getInstitution();
            $('#courseForm').on('submit', addData);
        });
    </script>
</body>
</html>
