@model IEnumerable<Institution>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4"><strong>معلومات المواد</strong></h1>
    </div>
    <div class="form-group">
        <label for="previousInstitution">المنشأة السابقة</label>
        <select class="form-control" id="institutionId" onchange="fetchMajors(this.value)">
            <option value="">إختر المنشأة</option>
            @foreach (var institution in Model)
            {
                <option value="@institution.institutionID">@institution.institutionNameAR</option>
            }
        </select>

        <div class="form-group">
            <label for="major">التخصص</label>
            <select class="form-control" id="major" onchange="fetchCourses()">
                <option value="">إختر التخصص</option>
            </select>
        </div>

        <p>
            <a asp-action="Create" class="btn btn-lg btn-danger rounded-pill mt-4">اضافة مادة</a>
        </p>
        <div class="card-body">
            <table class="table" id="course">
                <thead>
                    <tr>
                        <th>اسم المادة</th>
                        <th>وصف المادة</th>
                        <th>وزن المادة</th>
                        <th>اسم التخصص</th>
                        <th>اسم المنشأة</th>
                        <th>إجراءات</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function fetchMajors(id) {
        $.ajax({
            url: '/Equalize/getMajors/' + id,
            type: 'GET',
            success: function (data) {
                $('#major').empty();
                $.each(data, function (index, item) {
                    $('#major').append('<option value="">' + 'اختر التخصص' + '</option>');
                    $('#major').append('<option value="' + item.majorID + '">' + item.majorNameAR + '</option>');
                });
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function fetchCourses() {
        var majorId = $('#major').val();
        var majorName = $("#major option:selected").text();
        var institutionName = $("#institutionId option:selected").text();
        var institutionId = $('#institutionId').val();
        $.ajax({
            url: '/Equalize/getCourses/',
            type: 'GET',
            data: { institutionId: institutionId, majorId: majorId },
            success: function (result) {
                $('#course tbody').empty();
                $.each(result, function (index, item) {
                    var row = '<tr>' +
                        '<td>' + item.courseNameAR + '</td>' +
                        '<td>' + item.courseDescriptionAR + '</td>' +
                        '<td>' + item.courseWeightAR + '</td>' +
                        '<td>' + majorName + '</td>' +
                        '<td>' + institutionName + '</td>' +
                        '<td>' +
                        '<a href="/Courses/Edit/' + item.courseID + '" class="btn btn-primary">تعديل</a>' +
                        '<a href="/Courses/details/' + item.courseID + '" class="btn btn-secondary">التفاصيل</a>' +
                        '<a href="#" onclick="confirmDelete(' + item.courseID + ')" class="btn btn-danger rounded-pill">حذف</a>' +
                        '</td>' +
                        '</tr>';
                    $('#course tbody').append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function confirmDelete(courseID) {
        if (confirm("هل أنت متأكد أنك تريد حذف هذه المادة؟")) {
            $.ajax({
                url: '/Courses/Delete',
                type: 'POST',
                data: { id: courseID },
                success: function (response) {
                    if (response.success) {
                        fetchCourses(); 
                    } else {
                        alert('Failed to delete the course.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    }
</script>
