@page
@model CourseEquivalencySite.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div class=" background-image"></div>
<div class="row justify-content-center content-container login-form-body ">
    <h1 class="text-center custom-darker-danger pb-2">دخول المشرف</h1>
    <div>
        <section>
            <div class="login-box p-4 rounded bg-light opacity-75">
                <form id="account" method="post">
                    <div class="mb-3" style="text-align: left">
                        <label for="inputEmail" class="form-label"><strong>Email</strong></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="inputEmail" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3" style="text-align: left">
                        <label for="inputPassword" class="form-label"><strong>Password</strong></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" id="inputPassword" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between" style="text-align: left">
                        <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe" />
                        <label class="form-check-label ml-2" for="rememberMe"><strong>Remember me</strong></label>
                    </div>

                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="text-center">
                        <button id="login-submit" type="submit" class="btn custom-darker-danger">Log in</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}